<h1>Listing class_rooms</h1>

<table>
  <thead>
    <tr>
      <th>Boys</th>
      <th>Girls</th>
      <th>Teachers</th>
      <th>Total</th>
      <th>Students</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @class_rooms.each do |class_room| %>
      <tr>
        <td><%= class_room.boys %></td>
        <td><%= class_room.girls %></td>
        <td><%= class_room.teachers %></td>
        <td><%= class_room.total %></td>
        <td><%= class_room.students %></td>
        <td><%= link_to 'Show', class_room %></td>
        <td><%= link_to 'Edit', edit_class_room_path(class_room) %></td>
        <td><%= link_to 'Destroy', class_room, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Class room', new_class_room_path %>
